* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos do Banner */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('./imagens/banner.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 550px;
    padding: 60px 20px;
    border-bottom: 1px solid #33A8DB80;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-content p {
    font-size: 20px;
    text-align: center;
    margin: 16px 0 24px;
    color: white;
}

.banner button {
    color: #31A8DD;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
}

/* Estilos do Conteúdo do Curso */
#course-content {
    background-color: black;
    padding: 60px 20px;
    border-bottom: 1px solid #33A8DB80;
}

#course-content h2 {
    text-transform: uppercase;
    color: #33A8DB;
    font-weight: bold;
    font-size: 32px;
    line-height: 37.57px;
    margin: 24px 0;
    letter-spacing: 4px;
}

#course-content p {
    color: white;
    font-size: 16px;
}

.modules-list {
    margin: 24px 0;
}

.module-1, .module-2, .module-3 {
    color: white;
    background-color: #252525;
    width: 100%;
    max-width: 530px;
    border: 1px solid #33A8DB;
    border-radius: 100px;
    text-align: center;
    padding: 16px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
    margin: 16px auto;
}

/* Estilos da Seção Transform World */
#transform-world {
    position: relative;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    height: auto;
    min-height: 590px;
    overflow: hidden;
    background-attachment: fixed;
    background-image: url('imagens/woman-code.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#transform-world p {
    position: relative;
    z-index: 1;
    color: white;
    text-transform: lowercase;
    text-align: left;
    margin: 100px 20px;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 5px 3px #33A8DB;
}

/* Estilos da Seção Professional Challenges */
#professional-challenges {
    background-color: black;
    padding: 60px 20px;
    border-bottom: 1px solid #33A8DB80;
}

#professional-challenges h2 {
    color: rgba(51, 168, 219, 1);
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 24px 0;
}

#professional-challenges p {
    color: white;
    margin: 24px 0;
}

/* Estilos do Footer */
footer {
    background: linear-gradient(to bottom, rgba(51, 168, 219, 0), rgba(51, 168, 219, 0.2), rgba(51, 168, 219, 0.2));
    background-color: black;
    border-bottom: 1px solid #000000;
    padding: 40px 20px;
}

footer img {
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

footer p {
    color: white;
    padding-bottom: 30px;
}

footer a {
    color: rgba(51, 168, 219);
    text-decoration: none;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .banner h1 {
        font-size: 2rem; /* Reduz o tamanho da fonte */
    }

    .banner-content p {
        font-size: 18px; /* Reduz o tamanho da fonte */
    }

    #transform-world p {
        font-size: 40px; /* Reduz o tamanho da fonte */
        margin: 50px 20px; /* Ajusta as margens */
    }

    #professional-challenges h2 {
        font-size: 28px; /* Reduz o tamanho da fonte */
    }

    #professional-challenges p {
        font-size: 14px; /* Reduz o tamanho da fonte */
    }
}

@media (max-width: 480px) {
    .banner h1 {
        font-size: 1.5rem; /* Reduz o tamanho da fonte */
    }

    .banner-content p {
        font-size: 16px; /* Reduz o tamanho da fonte */
    }

    #transform-world p {
        font-size: 30px; /* Reduz o tamanho da fonte */
        margin: 30px 10px; /* Ajusta as margens */
    }

    #professional-challenges h2 {
        font-size: 24px; /* Reduz o tamanho da fonte */
    }

    #professional-challenges p {
        font-size: 12px; /* Reduz o tamanho da fonte */
    }

    .module-1, .module-2, .module-3 {
        padding: 12px; /* Reduz o padding */
        font-size: 14px; /* Reduz o tamanho da fonte */
    }
}